In [2]:
import pandas as pd 
excel_file = pd.read_excel("./2022_january.xlsx")
excel_file

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2022年度1月份消费表,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,date,food,clothes,vehicle,sports,loans,other
4,NaN,NaN,2022-01-01 00:00:00,804,2088,1843,1344,208,1099
5,NaN,NaN,2022-01-02 00:00:00,1390,2781,1656,59,2886,472
6,NaN,NaN,2022-01-03 00:00:00,1291,2816,1276,2673,1775,1913
7,NaN,NaN,2022-01-04 00:00:00,629,1093,1667,2533,1765,1527
8,NaN,NaN,2022-01-05 00:00:00,1151,2476,1816,2942,2008,2881
9,NaN,NaN,2022-01-06 00:00:00,1586,2399,1132,767,1796,712
10,NaN,NaN,2022-01-07 00:00:00,380,140,532,2581,801,1731
11,NaN,NaN,2022-01-08 00:00:00,100,2023,1367,1339,562,516
12,NaN,NaN,2022-01-09 00:00:00,681,1438,577,1967,2608,2130
13,NaN,NaN,2022-01-10 00:00:00,96,1319,1530,542,1964,104
14,NaN,NaN,2022-01-11 00:00:00,2078,2372,233,1855,2481,1663
15,NaN,NaN,2022-01-12 00:00:00,1963,1672,2530,906,1228,895
16,NaN,NaN,2022-01-13 00:00:00,832,509,1640,2918,749,2164
17,NaN,NaN,2022-01-14 00:00:00,157,452,2081,2175,367,1334
18,NaN,NaN,2022-01-15 00:00:00,1051,1631,1179,1178,2472,1210
19,NaN,NaN,2022-01-16 00:00:00,2832,2393,687,427,2239,234
20,NaN,NaN,2022-01-17 00:00:00,1792,1884,1692,1960,260,191
21,NaN,NaN,2022-01-18 00:00:00,419,2132,1152,1201,2896,2917
22,NaN,NaN,2022-01-19 00:00:00,2489,2853,1105,2376,1587,2860
23,NaN,NaN,2022-01-20 00:00:00,1306,2456,1136,344,2057,2398
24,NaN,NaN,2022-01-21 00:00:00,1645,2653,1848,790,1081,787
25,NaN,NaN,2022-01-22 00:00:00,2469,1168,382,1095,2595,1429
26,NaN,NaN,2022-01-23 00:00:00,1652,876,1078,1664,1343,1588
27,NaN,NaN,2022-01-24 00:00:00,1038,2696,1447,1797,2735,2248
28,NaN,NaN,2022-01-25 00:00:00,277,1625,1395,2084,420,628
29,NaN,NaN,2022-01-26 00:00:00,2354,568,2930,2009,1375,2402
30,NaN,NaN,2022-01-27 00:00:00,2417,951,1805,2632,1117,2734
31,NaN,NaN,2022-01-28 00:00:00,2664,919,2056,922,907,1302
32,NaN,NaN,2022-01-29 00:00:00,2930,140,1255,2002,1786,1068
33,NaN,NaN,2022-01-30 00:00:00,355,1549,1204,343,2234,1927
34,NaN,NaN,2022-01-31 00:00:00,2604,316,2867,881,1848,2353